.block-group {
	fill: transparent;
	stroke: #c0c0c0;
	stroke-width: 1;
}
.race-btn-group,
.education-btn-group {
	margin-top: 10px;
}
.education-btn-group { display: none; }
.legend rect {
	stroke: #777;
	stroke-width: 0.5;
}
.legend text {
	font-size: 1.1em;
}
